/* variables */
:root{
    --lightgray: rgb(77, 76, 76);
    --superlight: rgb(253, 253, 253);
    --pricolor:  #d11818;
}
/* fonts */
@font-face {
    font-family: Nunito-Bold;
    src: url(../assets/fonts/NUNITO-BOLD.TTF);
}
@font-face {
    font-family: Nunito;
    src: url(../assets/fonts/NUNITO-REGULAR.TTF);
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Nunito;
    background-color: var(--superlight);
}
a{
    text-decoration: none;
    color: white;
}
#welcome{
    margin-top:150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* myCards style*/
.myCard{
    max-width: 500px;
    margin: auto auto;
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.myCard a{
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    height: 70px;
    border-radius: 5px;
    box-shadow: 0px 0px 50px 30px rgb(0,0,0,0.04);
    background: linear-gradient(to bottom,#f74141,#e73737);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding:10px;
    width:80%;
    transition: background .3s ease-in-out, transform .05s ease-in-out;
}
.myCard a:hover{
    background: linear-gradient(to bottom,#eb3838,#da2c2c);
    transform: scale(1.005);
}
.myCard a > p{
    margin-bottom: 0;
}
/* header for cim links */

.myNavbar{
    height: 50px;
    background: var(--pricolor);
    display: flex;
    justify-content: center;
    align-items: center;
}
.myNavbar a{
    text-decoration: none;
    color: white;
    font-family: Lemon-Milk, Poppins, sans-serif;
}
@media only screen and (max-width: 600px) {
    .myCard a {
      height: 50px;
    }
  }